@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");

body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgb(253, 251, 251);
  font-family: "Sedgwick ave";
}

#cabecalho {
  top: 0;
  position: fixed;
}

#picConteiner {
  padding: 50px;
  margin: 0;
}

.ladoDireito {
  font-size: small;
  height: 40vh;
  width: 20vw;
  display: inline-block;
}

.ladoEsquerdo {
  font-size: medium;
  height: 40vh;
  width: 20vw;
  display: inline-block;
}
